@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Mandali&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0rem .5rem 1.5rem rgba(0,0,0,0.1)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Mandali';
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

section {
    padding: 2rem 9%;
}

section:nth-child(even){
    background-color: #eee;
}

img {
    width: 100%;
}

header {
    position: fixed;
    left: 0; right: 0;
    background-color: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i {
    color: var(--green);
    padding: 0 1rem;
}

header nav a {
    font-size: 1.7rem;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    color: var(--light-color);
}

header nav a.active,
header nav a:hover {
    color: #fff;
    background-color: var(--green);
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background-color: #eee;
}

header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background-color: var(--green);
}

header #menu-bars {
    display: none;
}

#search-form {
    position: fixed;
    top: -100%; left: 0;
    width: 100%; height: 100%;
    z-index: 1004;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-form.active {
    top: 0;
}

#search-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    text-transform: none;
    color: #fff;
    background: none;
    font-size: 3rem;
}

#search-form #search-box::placeholder {
    color: #aaa;
}

#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

#search-form label {
    font-size: 3rem;
    padding: 0 2rem;
    color: #eee;
    cursor: pointer;
    transition: none;
}

#search-form label:hover {
    color: var(--green);
}

#search-form #close {
    position: absolute;
    top: 0; right: 0;
    font-size: 5rem;
    color: #fff;
    z-index: 1000;
    padding: 2rem 3rem;
    cursor: pointer;
    transition: none;
}

#search-form #close:hover {
    color: var(--green);
}

.home .home-slider .slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 9rem;
}

.home .home-slider .slide img {
    width: 68rem;
    height: 60rem;
    border-radius: 2rem;
    object-fit: cover;
}

.home .home-slider .slide .content {
    width: 40rem;
}

.home .home-slider .slide .content span {
    color: var(--green);
    font-size: 2rem;
    font-weight: bold;
}

.home .home-slider .slide .content h3 {
    font-size: 6rem;
    color: var(--black);
}

.home .home-slider .slide .content p {
    font-size: 2rem;
    color: var(--light-color);
}












/* media queries */
@media (max-width: 1400px) {

    .home .home-slider .slide img {
        width: 54rem;
        height: 48rem;
    }
}

@media (max-width: 1200px)
{
    html {
        font-size: 57%;
    }
    .home .home-slider .slide {
        justify-content: center;
    }
}

@media (max-width: 992px)
{
    html {
        font-size: 50%;
    }
    
    header {
        padding: 1rem 2rem;
    }
}

@media (max-width: 768px)
{
    header .icons #menu-bars {
        display: inline-block;
    }

    header nav {
        position: absolute;
        top: 100%; left: 0;
        width: 100%;
        background-color: #fff;
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header nav.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header nav a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background-color: #eee;
        text-align: center;
    }
}